/*Created by Yuliang Zhang*/
.root {
    -fx-background-image: url("./assets/gameicon.png");
}
.button {
    -fx-text-fill: white;
    -fx-font-size: 13;
    -fx-scale-x: 1.12;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.65), 5, 0.1, 0.1, 1);
}

.button:background {
  -fx-background-image: url("./assets/bg.jpg");
}


.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

