/** Add background image and change button style
* @author Bob
*/
.root {
    -fx-background-image: url("./assets/icon.png");
}
.button {
    -fx-text-fill: white;
    -fx-font-size: 13;
    -fx-scale-x: 1.12;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
}


.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

